<h2>New boook</h2>
<%= form_for(book) do |f| %>
  <label>Title<br>
    <%= f.text_field :title %>
  </label>
  <br>
  <label>Opinion<br>
    <%= f.text_area :body %>
  </label>
  <br>
  <%= f.submit "Create Book" %>
<% end %>

